<div id="login">
  {{{card}}}

  {{> js_setup nodes=nodes}}
  {{#if extraPartial }}
    {{> (extraPartial) }}
  {{/if}}
  <style>
    .login_card {
      padding: 1rem;
      &>div {
        &>div:nth-of-type(2) {

          &>div {
            display: grid;
            grid-template: 'passkey oicd' 1fr
              'r r' 1fr;

            & hr {
              display: none;
            }

            & [data-testid="login-flow-oidc"] {
              grid-area: oicd;
            }

            & [data-testid="passkey-flow"] {
              grid-area: passkey;
            }

            & div:last-child {
              grid-area: r;
            }
          }

        }
      }
    }
  </style>
</div>
