<div id="signup">

  {{{card}}}

  {{> js_setup nodes=nodes}}
  {{#if extraPartial }}
  {{> (extraPartial) }}
  {{/if}}
  <style>
    .register_card {
      &>div {
        &>div:nth-of-type(2) {

          &>div {
            display: grid;
            grid-template: 'passkey'
              'oicd'
              '.';

            & hr {
              display: none;
            }

            & [data-testid="registration-flow-oidc"] {
              grid-area: oicd;
            }

            & [data-testid="passkey-flow"] {
              grid-area: passkey;
            }
          }

        }
      }
    }
  </style>
</div>