<meta name="viewport" content="width=device-width, initial-scale=1" />
<h1>Login Response</h1>

<h2>Email: <%= email %></h2>
<h3>Access Token: <%= accessToken %></h3>
<div style="max-width: 100vw; overflow: auto;">

  <pre><code><%= response %></code></pre>
</div>